<form [formGroup]="loginForm" class="form" (ngSubmit)="login()">

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="loginForm.get('email')!.hasError('required')">
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password" required>
    <mat-error *ngIf="loginForm.get('password')!.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Prijava</button>
</form>
