@import 'mixins', 'variables';

.root {
  margin: 0 1rem;

  button {
    margin: 3rem 0;
    background-color: $primary-color;
    color: white;
  }
}

.post-list {
  display: flex;
  flex-direction: column;

  app-single-post {
    margin-bottom: 2rem;
  }
}

.post-list {
  @include responsive(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  app-single-post {
    @include responsive(tablet) {
      width: 20rem;
    }
  }
  }
